<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
      xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.bsit.cordova.androidpay"
        version="0.0.1">

  <name>AndroidPay</name>

  <js-module src="www/androidpay.js" name="AndroidPay">
    <clobbers target="cordova.plugins.AndroidPay" />
  </js-module>

  <platform name="android">
    <framework src="com.google.android.gms:play-services-wallet:+" value="gradle" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidPay">
        <param name="android-package" value="com.bsit.cordova.androidpay.AndroidPay"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />
    </config-file>

    <source-file src="src/android/AndroidPay.java" target-dir="src/com/bsit"/>
  </platform>
</plugin>
